// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .about-history-section .about-history-text {
        padding-top: 32vh;
    }

    .two-columns-container {
        padding: 0;

        & .container {
            max-width: 100%;
            padding: 0;
        }

        & .row {
            margin-right: 0;
            margin-left: 0;
        }

        & .two-column-item {
            padding: 0;
        }

        & .column2 {
            padding: 0.5rem 7rem !important;
            padding-top: 7rem !important;
        }
    }

    .about-container {
        padding: 0;

        & .container {
            max-width: 100%;
            padding: 0;
        }

        & .row {
            margin-right: 0;
            margin-left: 0;
        }

        & .about-column-item {
            padding: 0;
        }

        & .column1 {
            padding: 0.5rem 7rem !important;
            padding-top: 7rem !important;
        }
    }

    .container-footer .big-footer .footer-item .textwidget h2 {
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 28%;
    }

    .container-footer .big-footer .footer-item {
        padding: 5rem 2rem;
    }

    .widget_media_image img {
        width: 100%;
        height: auto;
    }

    .about-main-hero-container {
        padding: 11rem 1rem;
        padding-bottom: 12rem;
    }
}

@media (max-width: 1366px) {
    .about-history-section .about-history-text {
        padding-top: 44vh;
    }

    .two-columns-container .column2 {
        padding: 0.5rem 7rem !important;
        padding-top: 4.5rem !important;
    }

    /* HERO HOME */
    .main-slider-container .main-slider-content .main-slider-info-wrapper h2 {
        margin-top: -1rem;
        margin-bottom: 2.5rem;
        font-size: 2rem;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        padding: 0 15.5vw;
        padding-top: 28vh;
    }

    .container-footer .big-footer .footer-item {
        padding: 5rem 1rem;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 27%;
    }
}

@media (max-width: 1280px) {
    .two-columns-container .column2 {
        padding: 0.5rem 7rem !important;
        padding-top: 3.5rem !important;
    }

    .home-new-about-content {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.8rem;
    }

    .home-new-about-content h3 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .home-menu-container .home-menu-content {
        padding: 4rem 6rem;
        padding-right: 0;
        padding-bottom: 6rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .home-menu-container .home-menu-title-container h2 {
        font-size: 1.8rem;
        line-height: 2rem;
        padding: 1rem 1rem;
        padding-bottom: 0;
    }

    .home-menu-container .home-menu-image .home-menu-item-1 img {
        width: 370px;
    }

    .home-menu-container .home-menu-title-container {
        padding: 2rem 1rem;
        text-align: center;
    }

    .home-menu-container .home-menu-content .btn-yellow {
        max-width: 100%;
        padding: 1.2rem 1.8rem !important;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .home-menu-container .home-menu-image .home-menu-item-2 img {
        max-width: 440px;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        padding: 0 15.5vw;
        padding-top: 25vh;
    }

}

@media (max-width: 1170px) {
    .two-columns-container .column2 {
        padding: 0.5rem 1rem !important;
        padding-top: 2rem !important;
    }

    .testimonials-container .testimonials-main-title h2 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .about-container .column1 {
        padding: 0.5rem 5rem !important;
        padding-top: 3rem !important;
    }

    .products-container {
        padding: 3rem 2rem !important;
    }

    .main-hero-container .main-hero-content h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .modal-form .custom-modal-title h2 {
        font-size: 2rem;
    }

    .main-modal-form .custom-modal-submit .btn-yellow {
        padding: 0.5rem 7rem;
        margin: 0.5rem auto;
    }

    .swiper-testimonial-wrapper {
        padding: 1.5rem;
    }

    /* HERO HOME */
    .main-slider-container .main-slider-content .main-slider-info-wrapper h2 {
        margin-top: 0;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        padding: 0 8.5vw;
        padding-top: 20vh;
    }

    .container-footer .big-footer .footer-item .textwidget h2 {
        padding: 1rem;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 24%;
    }

    .testimonials-container .testimonial-item-wrapper {
        margin-left: 10rem;
        padding: 2rem 2.5rem;
        padding-left: 4.5rem;
    }

    .testimonials-container .testimonial-item-wrapper .text-wrapper {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .testimonials-container .testimonial-item-wrapper .text-wrapper .star-container {
        font-size: 1.5rem;
    }

    .home-footer-hero-container .home-footer-hero-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 0.5rem;
        margin-top: 2.5rem;
    }

    .about-main-hero-container .about-main-hero-content .about-main-hero-content-text {
        font-size: 1.4rem;
        padding: 2rem 4rem;
    }

    .about-descanso-section .about-descanso-text .about-descanso-content {
        line-height: 1.9rem;
        font-size: 0.8rem;
    }

    .about-testimonials-section {
        background: #FAF4D0;
        padding: 6rem 0;
    }


}

@media (max-width: 1024px) {
    .two-columns-container .column2 h2 {
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 1rem;
    }

    .two-columns-container .column2 {
        padding: 0.5rem 1rem !important;
        padding-top: 1rem !important;
    }

    .two-columns-container .column2 .column2-subitem h3 {
        font-size: 1.5rem;
    }

    .two-columns-container .column2 .column2-subitem img {
        max-width: 38%;
    }

    .two-columns-container .column2 .column2-subitem h4 {
        font-size: 0.9rem;
        padding: 0.2rem 3rem;
    }

    .subscribe-bar-container .custom-media .media-body {
        margin-left: 10px;
        font-size: 1rem;
    }

    .btn-subscribe {
        font-size: 0.7rem;
        padding: 0.8rem 1rem;
    }

    .about-container .column1 {
        padding: 0.5rem 2rem !important;
        padding-top: 1.5rem !important;
    }

    .about-container .column1 h2 {
        font-size: 1.7rem;
        line-height: 2rem;
        margin-bottom: 2.5rem;
    }

    .about-container .column1 h2:after {
        bottom: -25px;
        left: 32%;
    }

    .about-container .column1 .img-separator {
        margin: 1rem auto;
        margin-bottom: 2rem;
    }

    .testimonials-container .testimonials-main-title h2 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .the-footer {
        padding: 2rem 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }

    .swiper-testimonial-wrapper {
        padding: 1rem;
    }

    .about-main-hero-container {
        padding: 11rem 1rem;
        padding-bottom: 15rem;
    }

    .about-testimonials-section .about-testimonial-item {
        padding: 1rem 9vw;
        background-repeat: no-repeat;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        padding-top: 16vh;
    }

    .frame-info-container {
        padding: 1.8rem 1rem;
        font-size: 1.1rem;
    }

}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .two-columns-container .column2 {
        padding: 0.5rem 0.5rem !important;
        padding-top: 0.5rem !important;
        font-size: 0.8rem;
        line-height: 0.5rem;
    }

    .two-columns-container .column2 .column2-subitem h3 {
        font-size: 1.2rem;
    }

    .two-columns-container .column2 .column2-subitem h4 {
        font-size: 0.8rem;
        padding: 0.2rem 2rem;
    }

    .two-columns-container .column2 h2 {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .two-columns-container .column1 .two-columns-item-wrapper h2 {
        font-size: 1.3rem;
    }

    .main-hero-container .main-hero-content {
        padding: 10vh 1rem;
    }

    .main-hero-container .main-hero-content h1 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .main-hero-container .main-hero-content h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .btn-yellow {
        padding: 1rem 2rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .two-columns-container .column2 h2 {
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }

    .about-container .column1 {
        padding: 0.5rem 0.5rem !important;
        padding-top: 0.5rem !important;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .about-container .column1 h2 br {
        display: none;
    }

    .about-container .column1 h2:after {
        bottom: -20px;
        left: 30%;
    }

    .about-container .column1 h2 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .products-container {
        padding: 5rem 2rem !important;
        padding-bottom: 1rem !important;
    }

    .testimonials-container .testimonials-main-title h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 0;
    }

    .testimonials-container {
        padding: 1.5rem 1rem;
    }

    .swiper-testimonial-wrapper {
        min-height: 300px;
        padding: 2rem;
    }

    .two-columns-container .column2 .column2-subitem {
        margin-bottom: 0.5rem;
    }

    .the-footer .footer-sidebar li:nth-child(1):before {
        left: 40%;
    }

    .the-footer {
        padding: 1.5rem 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    /* HERO HOME */
    .main-slider-content {
        min-height: 60vh;
        overflow: hidden;
    }

    .main-slider-container .main-slider-content img {
        width: 170% !important;
        height: auto;
        max-width: unset;
        margin: 0 auto !important;
        display: block !important;
    }

    .the-header .header-middle .menu {
        margin-left: 0;
    }

    .the-header .btn-header {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 5rem;
    }

    .header-right {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        background: white;
        text-align: center !important;
    }

    .home-new-about-image {
        margin-bottom: 0;
        z-index: 99;
        padding: 3rem 6rem;
        padding-top: 0;
    }

    .home-new-about-content {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.8rem;
        padding: 2rem 3rem;
        padding-top: 0;
    }

    .home-new-about-title-container {
        padding: 2rem 2rem;
        text-align: center;
    }

    .home-menu-container .home-menu-image .home-menu-item-1 img {
        width: 290px;
    }

    .home-menu-container .home-menu-image .home-menu-item-2 img {
        max-width: 380px;
    }

    .home-menu-container .home-menu-content {
        padding: 3rem 4rem;
        padding-right: 1rem;
        padding-bottom: 6rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .home-menu-container .home-menu-title-container h2 {
        font-size: 1.5rem;
        line-height: 1.4rem;
        padding: 1rem 1rem;
        padding-bottom: 0;
    }

    .home-benefits-title-container h2 {
        font-size: 1.8rem;
        line-height: 2rem;
        padding: 1.5rem 0.5rem;
        padding-bottom: 0.5rem;
    }

    .home-benefits-item {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .testimonials-container .testimonials-main-title-content h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding: 1rem 1rem;
        padding-bottom: 0.5rem;
    }

    .home-footer-hero-container {
        padding: 10vh;
    }

    .widget_media_image img {
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 41%;
    }

    .container-footer .big-footer .footer-item {
        padding: 5rem 1rem;
        padding-bottom: 0;
    }

    .home-footer-hero-container .home-footer-hero-content h2 {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
    }

    .home-new-about-title-container h2 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 1.5rem 1rem;
        padding-bottom: 0.5rem;
    }

    .about-main-hero-container .img-about-hero {
        margin-bottom: -18rem;
    }

    .about-history-section .about-history-text {
        text-align: center;
        padding: 6rem 3rem;
    }

    .about-testimonials-section .about-testimonial-item .content {
        font-size: 1.5rem;
    }

    .about-main-hero-container .about-main-hero-content .about-main-hero-content-text {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    .about-descanso-section .about-descanso-text h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .main-contact-form {
        padding: 2rem 4rem;
    }

    .inside-tab-title-container .btn-pdf {
        font-size: 1rem;
    }

    .inside-tab-title-container .btn-pdf img {
        margin-right: 10px;
    }

    .widget_custom_html .custom-html-widget {
        max-width: 50%;
        max-height: 300px;
        margin: 0 auto;
        display: block;
    }

    .frame-info-container {
        max-width: 85%;
        padding: 2.2rem 1rem;
    }

    .last-info-container {
        padding: 2rem;
        max-width: 77%;
        display: block;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 2.1rem;
    }

}

@media (max-width: 800px) {

    .swiper-testimonial-wrapper {
        min-height: 270px;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .collapse-title-container ul li a {
        min-width: 200px;
    }
}

@media (max-width: 768px) {

    .catering-main-options-item .number {
        flex: 0 0 9%;
    }

    .catering-main-options-item .description {
        flex: 0 0 48%;
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .frame-info-container {
        padding: 1.7rem 1rem;
    }


    .two-columns-container .column2 h2 {
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin-bottom: 1rem;
    }

    .about-container .column1 h2 {
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }

    .about-container .column1 h2:after {
        bottom: -20px;
        left: 28%;
    }

    .about-container .column1 .img-final-icon {
        margin: 2rem auto;
        margin-bottom: 0;
        max-width: 45%;
    }

    .products-container h2 {
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

    .testimonials-container .testimonials-main-title {
        padding: 0 7rem;
    }

    .gallery-container .img-support {
        top: -50px;
        right: 10px;
        max-width: 110px;
    }

    .products-container .product-item h3 {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .products-container .product-item .product-item-image .product-image-wrapper .img-logo-wrapper {
        max-width: 40%;
    }

    .the-header .header-middle .menu {
        justify-content: flex-end;
    }

    .the-header .header-middle .menu .nav-link {
        padding: 0.5rem 0.8rem;
        letter-spacing: 2px;
    }

    .home-footer-hero-container .home-footer-hero-content h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        padding: 0 2rem;
    }

    .inside-tab-title-container .btn-pdf {
        position: unset;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

@media (max-width: 767px) {
    .home-menu-container .home-menu-image .home-menu-item-3 {
        bottom: 0;
        right: 0;
        z-index: 10;
        position: unset;
    }

    .home-menu-container .home-menu-image .home-menu-item-1 {
        left: 0;
        position: unset;
    }

    .home-menu-container .home-menu-content {
        padding: 3rem 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .main-slider-container .main-slider-content img {
        width: 240% !important;
        height: auto;
        max-width: unset;
        margin: 0 auto !important;
        display: block !important;
    }

    .header-right {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 36.5%;
    }

    .header-button-mobile {
        color: white;
        text-align: right;
        font-size: 2rem;
    }

    .header-left {
        text-align: left !important;
        margin-bottom: 0.5rem;
    }

    .header-visible .header-button-mobile {
        color: black;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper h2 {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    .home-new-about-title-container h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 1.5rem 1rem;
        padding-bottom: 0.5rem;
    }

    .home-benefits-title-container h2 {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .testimonials-container .testimonials-main-title-content h2 {
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding: 1rem 0;
        padding-bottom: 0.5rem;
    }

    .testimonials-container .testimonials-main-title-content {
        padding: 4rem 1rem;
        text-align: center;
    }

    .testimonials-container .testimonial-item img {
        position: unset;
        top: 0;
        left: 0;
        margin-bottom: 2rem;
    }

    .testimonials-container .testimonial-item-wrapper {
        margin-left: 0;
        padding: 2rem 3rem;
        padding-left: 3rem;
    }

    .main-slider-container .main-home-slider-container .swiper-pagination-bullets {
        left: 46%;
    }

    .home-benefits-desc-container {
        text-align: center;
        font-size: 1rem;
        line-height: 2.1rem;
        padding: 0 1rem;
        color: #AF3501;
    }

    .home-benefits-title-container {
        padding: 2.5rem 1rem;
        text-align: center;
    }

    .about-main-hero-container .about-main-hero-content .about-main-hero-content-text {
        font-size: 1rem;
        line-height: 1.9rem;
        padding: 1rem 2rem;
        text-align: left;
    }

    .about-history-section .about-history-text .about-history-text-desc {
        margin-top: 1.5rem;
        text-align: left;
        font-size: 1rem;
        line-height: 2.2rem;
        font-weight: 500;
    }

    .about-descanso-section:after {
        width: 100%;
    }

    .about-descanso-container {
        text-align: center;
    }

    .about-descanso-section .about-descanso-text {
        padding: 2rem;
        padding-bottom: 0;
    }

    .about-testimonials-section .about-testimonial-item .content {
        font-size: 1rem;
    }

    .about-testimonials-section .about-testimonial-item .author {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: -0.4rem;
    }

    .main-contact-form {
        padding: 2rem 2rem;
    }

    .collapse-title-container ul li a {
        min-width: 150px;
        font-size: 0.8rem;
    }

    .the-header .btn-header {
        margin: 0 auto;
        display: block;
        max-width: 70vw;
    }

    .footer-copy {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 8rem;
    }

    .the-header .btn-header {
        padding: 1rem 1rem;
    }

    .img-float-top {
        display: none !important
    }

    .frame-info-container {
        max-width: 100%;
        padding: 1.7rem 1rem;
        font-size: 0.9rem;
    }

    .last-info-container {
        max-width: 100%;
    }

    .catering-main-options-item .number {
        flex: 0 0 12%;
    }

    .catering-main-options-item .price {
        flex: 0 0 23%;
    }

    .catering-separator-container:before {
        width: 38%;
    }

    .catering-separator-container:after {
        width: 38%;
    }

    .catering-contact-data-container .data-item {
        font-size: 0.8rem;
    }


}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .two-columns-container .column2 {
        padding: 2rem 3.5rem !important;
        padding-top: 2.5rem !important;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .two-columns-container .column2 .column2-subitem h3 {
        font-size: 2.2rem;
    }

    .two-columns-container .column2 .column2-subitem h4 {
        font-size: 1.1rem;
        padding: 0.5rem 2rem;
        line-height: 1.5rem;
    }

    .about-container .column1 {
        padding: 2rem 3.5rem !important;
        padding-top: 2.5rem !important;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .testimonials-container .testimonials-main-title {
        padding: 0 1rem;
    }

    .swiper-testimonial-wrapper {
        min-height: 205px;
        padding: 1rem;
    }

    .swiper-testimonial-wrapper .swiper-front-wrapper img {
        margin-bottom: 0.5rem;
        max-width: 85%;
    }

    .swiper-testimonial-wrapper .swiper-front-wrapper .testimonial-opener .fa {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .swiper-testimonial-wrapper .swiper-back-wrapper {
        bottom: -100%;
        left: 5px;
        max-width: 95%;
        font-size: 0.8rem;
        height: 100%;
        padding: 0.5rem 0;
    }

    .swiper-testimonial-wrapper .swiper-back-wrapper p {
        margin-bottom: 0.5rem;
    }

    .the-footer {
        padding: 1.5rem 1rem;
        padding-bottom: 1rem;
        font-size: 0.8rem;
    }

    .the-footer .footer-sidebar li:nth-child(1):before {
        left: 36%;
    }

    .main-hero-container .main-hero-content h1 {
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }

    .btn-yellow {
        font-size: 0.9rem;
    }

    .two-columns-container .column1 .two-columns-item-wrapper h2 {
        font-size: 1.5rem;
    }

    .two-columns-container .column2 .column2-subitem img {
        max-width: 100%;
    }

    .about-container .column1 h2:after {
        bottom: -20px;
        left: 32%;
    }

    .custom-accordion .card .card-body .wholesale-items-container .wholesale-product-item {
        flex: 0 0 31.5%;
    }

    .catering-general-options-item {
        max-width: 100%;
    }

    .catering-general-options-item .wrapper .price {
        flex: 0 0 22%;
    }

    .data-item img {
        max-width: 30px;
    }
}

@media (max-width: 533px) {


    .main-hero-container .main-hero-content h1 {
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }

    .main-hero-container .main-hero-content img {
        margin-bottom: 3rem;
    }

    .two-columns-container .column2 .column2-subitem h4 {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
    }

    .swiper-testimonial-wrapper {
        min-height: 325px;
        padding: 3rem;
    }

    .swiper-testimonial-wrapper .swiper-front-wrapper img {
        margin-bottom: 1.5rem;
        max-width: 100%;
    }

    .swiper-testimonial-wrapper .swiper-front-wrapper .testimonial-opener .fa {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .the-footer {
        padding: 1.5rem 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .the-footer .footer-sidebar li:nth-child(1):before {
        left: 34%;
    }

    .about-container .column1 h2:after {
        bottom: -20px;
        left: 27%;
    }

    .header-left {
        text-align: center;
        margin-bottom: .5rem;
    }

    .the-header .header-right {
        text-align: center;
    }

    .container-footer .big-footer .footer-item .textwidget h2:after {
        left: 33.333333%;
    }

    .about-testimonials-section .about-testimonial-item .content {
        font-size: 1.8rem;
    }

    .about-testimonials-section .about-testimonial-item {
        background: url(../images/second-frame.png);
        background-size: contain;
        padding: 6vh 9vw;
        background-repeat: no-repeat;
    }

    .collapse-title-container ul {
        flex-flow: column;
    }

    .collapse-title-container ul li a {
        min-width: 250px;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .custom-accordion .card .card-body .product-collapse-item {
        flex-flow: column;
    }

    .custom-accordion .card .card-body .product-collapse-item .price-collapse-wrapper {
        margin-top: .5rem;
    }

    .custom-accordion .card .card-body .wholesale-items-container .wholesale-product-item {
        flex: 0 0 46%;
    }

    .main-contact-form .custom-contact-submit .btn-yellow {
        padding: 1.5rem 2rem;
        width: 100%;
    }

    .main-slider-content {
        min-height: 98vh;
    }

    .main-slider-container .main-slider-content img {
        width: 200vh !important;
    }

    .container-footer .big-footer .footer-item .widget_media_image img {
        max-width: 150px !important;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        padding-top: 25vh;
    }

    .widget_custom_html .custom-html-widget {
        max-width: 90%;
        max-height: 300px;
    }

    .catering-main-options-item .price {
        flex: 0 0 15%;
    }

    .frame-info-container {
        max-width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background: none;
    }

    .last-info-container {
        max-width: 100%;
        padding: 0 2rem;
        padding-bottom: 1rem;
    }

    .catering-contact-data-container {
        flex-flow: column;
        max-width: 100%;
        margin: 0 auto;
    }

    .catering-contact-data-container .data-item {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 424px) {
    .main-hero-container .main-hero-content h1 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .subscribe-bar-container .custom-media .media-body {
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .btn-subscribe {
        font-size: 0.7rem;
        padding: 0.3rem 1.8rem;
    }

    .about-container .column1 {
        padding: 2rem 3.5rem !important;
        padding-top: 2.5rem !important;
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .testimonials-container .testimonials-main-title h2 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 0;
    }

    .btn-yellow {
        font-size: 0.9rem;
        padding: 1rem 1rem;
    }

    .two-columns-container .column2 {
        padding: 2rem 1.5rem !important;
        padding-top: 2.5rem !important;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .swiper-testimonial-wrapper {
        min-height: 280px;
        padding: 2rem;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper h2 {
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    .main-slider-container .main-slider-content .main-slider-info-wrapper {
        font-size: 1rem;
    }

    .btn-yellow {
        font-size: 0.8rem;
        padding: 0.7rem 1rem;
    }

    .home-new-about-image {
        padding: 3rem 1rem;
        padding-top: 0;
    }

    .testimonials-container .testimonials-main-desc-content .img-logo-float {
        position: unset;
        right: 0;
    }

    .home-menu-container .home-menu-content .btn-yellow {
        padding: 0.8rem 1rem !important;
        font-size: 0.8rem;
        margin-top: 2rem;
    }

    .testimonials-container .testimonials-main-desc-content h3 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .testimonials-container .testimonials-button-container .btn-yellow {
        padding: 0.8rem 1.4rem !important;
        font-size: 0.8rem;
        margin-top: 2rem;
    }

    .home-footer-hero-container .home-footer-hero-content h2 {
        font-size: 1.3rem;
        line-height: 1.9rem;
    }

    .about-testimonials-section .about-testimonial-item .content {
        font-size: 1.5rem;
    }

    .inside-tab-title-container h2 {
        font-size: 1.5rem;
    }

    .catering-main-options-item .description {
        flex: 0 0 42%;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}

@media (max-width: 414px) {
    .about-testimonials-section .about-testimonial-item {
        padding: 4.5vh 6vw;
    }
}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}