/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Hepta Slab', serif;
  font-weight: 400;
}
@font-face {
  font-family: 'BlairMdITC TT';
  src: url('../fonts/blaimim.woff') format('woff');
  font-weight: normal;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #E1BE64;
  border-color: #E1BE64 transparent #E1BE64 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn-yellow {
  color: #ffffff;
  background: #E1BE64;
  font-family: 'BlairMdITC TT', sans-serif;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.btn-yellow:focus {
  box-shadow: none;
}
.btn-yellow:hover {
  color: #ffffff;
  background: #C6A144;
}
.btn-subscribe {
  color: #ffffff;
  background: #E1BE64;
  font-family: 'BlairMdITC TT', sans-serif;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
}
.btn-subscribe:focus {
  box-shadow: none;
}
.btn-subscribe:hover {
  color: #ffffff;
  background: #C6A144;
}
@media (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.close-custom {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 20px;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.the-header .img-logo-header {
  max-width: 200px;
}
.the-header .btn-header {
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem;
}
.the-header .header-right {
  text-align: right;
}
.the-header .header-middle {
  text-align: center;
}
.the-header .header-middle .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.2rem;
  margin-left: -20px;
}
.the-header .header-middle .menu .nav-link {
  font-family: 'BlairMdITC TT', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-weight: 400;
}
.the-header .header-middle .menu .nav-link:hover {
  color: #AF3501 !important;
}
.header-dark {
  background: white;
}
.header-dark .menu-opener {
  color: #000000;
}
.header-dark a {
  color: #B19C76 !important;
}
.header-dark .btn-header {
  color: #ffffff !important;
}
.header-dark .header-middle .menu a {
  color: #B19C76 !important;
}
.header-landing {
  opacity: 0;
}
.menu-opener {
  background: none;
  border: 0;
  padding: 0;
  color: white;
}
.menu-opener:focus {
  box-shadow: 0;
  outline: 0;
}
.header-visible {
  background: #ffffff;
  opacity: 1;
  z-index: 99999999;
}
.header-visible .nav-link {
  color: #000000 !important;
}
.header-visible .nav-link:hover {
  color: #AF3501 !important;
}
.header-visible .menu-opener {
  color: #000000;
}
.img-delivery {
  max-width: 30px;
  margin-left: 10px;
}
.header-menu-mobile .menu {
  list-style: none;
  padding: 1rem 0;
  padding-bottom: 0;
  font-size: 1.3rem;
}
.menu-mobile-hidden {
  display: none;
}
.menu-mobile-shown {
  display: block;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  font-weight: 400;
  font-family: 'BlairMdITC TT', sans-serif;
  color: #FAF5D0;
  background: #401101;
  padding: 2.5rem 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
  border-top: 8px solid #ffffff;
  margin-top: -25px;
}
.the-footer a {
  color: #FAF5D0;
}
.the-footer .footer-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-sidebar li {
  position: relative;
}
.the-footer .footer-sidebar li:nth-child(1) {
  margin-bottom: 2rem;
}
.the-footer .footer-sidebar li:nth-child(1):before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 44%;
  background: url(../images/separator-white.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 8px;
  width: 150px;
}
.footer-copy {
  text-align: center;
  margin-bottom: 2rem;
  color: #E1BE64;
}
.footer-copy a {
  color: #E1BE64;
}
.footer-copy a:hover {
  color: #ffffff;
}
.container-footer {
  position: relative;
  background: #512916;
  mix-blend-mode: color-burn;
}
.container-footer:before {
  content: '';
  background: url(../images/bg-footer.jpg);
  mix-blend-mode: color-burn;
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container-footer .big-footer .footer-item {
  padding: 5rem;
  text-align: center;
  color: #E1BE64;
}
.container-footer .big-footer .footer-item .widget_media_image img {
  max-width: 270px !important;
  margin-top: 2rem;
}
.container-footer .big-footer .footer-item .textwidget {
  font-size: 1.1rem;
  line-height: 2rem;
}
.container-footer .big-footer .footer-item .textwidget h2 {
  position: relative;
  font-family: 'BlairMdITC TT', sans-serif;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.container-footer .big-footer .footer-item .textwidget h2:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 29%;
  width: 150px;
  height: 8px;
  background: url(../images/separator-yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container-footer .big-footer .footer-item .textwidget a {
  font-weight: 600;
  color: #E1BE64;
}
.container-footer .big-footer .footer-item .textwidget a:hover {
  color: #ffffff;
}
.container-footer .big-footer .footer-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-footer {
  padding: 1rem;
  padding-bottom: 2rem;
  font-size: 2.1rem;
}
.social-footer a {
  margin: 0 1rem;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-hero-container {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.main-hero-container .main-hero-content {
  color: #ffffff;
  padding: 20vh 1rem;
  text-align: center;
}
.main-hero-container .main-hero-content img {
  margin-bottom: 5rem;
}
.main-hero-container .main-hero-content h1 {
  font-family: 'Vast Shadow', cursive;
  margin-bottom: 3rem;
}
.main-hero-container .main-hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.two-columns-container {
  padding: 5rem 0;
}
.two-columns-container .column1 .two-columns-item-wrapper {
  position: relative;
}
.two-columns-container .column1 .two-columns-item-wrapper .two-items-wrapper {
  color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0) url(../images/main-frame.png);
  background-size: 93%;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.two-columns-container .column1 .two-columns-item-wrapper h2 {
  font-family: 'BlairMdITC TT', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.two-columns-container .column1 .two-columns-item-wrapper img {
  width: 100%;
}
.two-columns-container .column1 .two-columns-item-wrapper:hover .two-items-wrapper {
  background: rgba(0, 0, 0, 0.5) url(../images/main-frame.png);
  background-size: 93%;
  background-position: center center;
  background-repeat: no-repeat;
}
.two-columns-container .column1 .two-columns-item-wrapper:hover h2 {
  opacity: 1;
}
.two-columns-container .column2 {
  padding: 0.5rem 5rem !important;
  text-align: center;
}
.two-columns-container .column2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.two-columns-container .column2 ul li {
  position: relative;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.two-columns-container .column2 ul li:before {
  content: '';
  height: 6px;
  width: 6px;
  background: #AF3501;
  position: absolute;
  bottom: -15px;
  left: 49.5%;
  border-radius: 100%;
}
.two-columns-container .column2 ul li:last-child:before {
  display: none;
}
.two-columns-container .column2 .column2-subitem {
  margin-bottom: 1rem;
}
.two-columns-container .column2 .column2-subitem h3 {
  color: #AF3501;
  font-family: 'Vast Shadow', cursive;
  font-size: 2.2rem;
  margin-bottom: 0;
}
.two-columns-container .column2 .column2-subitem h4 {
  color: #AF3501;
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem 2rem;
}
.two-columns-container .column2 h2 {
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.subscribe-bar-container {
  color: #C6A144;
  background: #030303;
  padding: 2rem 1rem;
}
.subscribe-bar-container .custom-media {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.subscribe-bar-container .custom-media .media-body {
  font-family: 'BlairMdITC TT', sans-serif;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 1.2rem;
}
.subscribe-bar-container .custom-media .media-body p {
  margin-bottom: 0;
}
.subscribe-bar-container .mailchimp-form-item .form-control {
  font-family: 'BlairMdITC TT', sans-serif;
  border-radius: 0;
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  height: unset;
}
.subscribe-bar-container .mailchimp-form-item .form-control::-webkit-input-placeholder {
  color: #bcbcbc;
}
.subscribe-bar-container .mailchimp-form-item .form-control:-moz-placeholder {
  color: #bcbcbc;
}
.subscribe-bar-container .mailchimp-form-item .form-control::-moz-placeholder {
  color: #bcbcbc;
}
.subscribe-bar-container .mailchimp-form-item .form-control:-ms-input-placeholder {
  color: #bcbcbc;
}
.about-container {
  padding: 4rem 1rem;
}
.about-container .about-column-item {
  text-align: center;
}
.about-container .column1 {
  padding: 0.5rem 5rem !important;
  text-align: center;
}
.about-container .column1 h2 {
  position: relative;
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 5rem;
}
.about-container .column1 h2:after {
  content: '';
  height: 9px;
  width: 160px;
  background: url(../images/separator.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -45px;
  left: 30.5%;
  border-radius: 100%;
}
.about-container .column1 .img-separator {
  margin: 2rem auto;
  margin-bottom: 3rem;
}
.about-container .column1 .img-final-icon {
  margin: 2rem auto;
  margin-bottom: 0;
}
.about-container .column1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-container .column1 ul li {
  position: relative;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.about-container .column1 ul li:before {
  content: '';
  height: 6px;
  width: 6px;
  background: #AF3501;
  position: absolute;
  bottom: -15px;
  left: 49.5%;
  border-radius: 100%;
}
.about-container .column1 ul li:last-child:before {
  display: none;
}
.products-container {
  background: rgba(250, 245, 208, 0.5);
  padding: 3rem 1rem;
}
.products-container h2 {
  text-align: center;
  font-family: 'Vast Shadow', cursive;
  margin-bottom: 2rem;
}
.products-container .swiper-button-next,
.products-container .swiper-button-prev {
  top: 45%;
  width: 30px;
  height: 50px;
}
.products-container .swiper-button-next::after,
.products-container .swiper-button-prev::after {
  font-size: 1.5rem;
}
.products-container .swiper-button-next,
.products-container .swiper-container-rtl .swiper-button-prev {
  right: -8px;
  left: auto;
  z-index: 99 !important;
}
.products-container .swiper-button-prev,
.products-container .swiper-container-rtl .swiper-button-next {
  left: -8px;
  right: auto;
}
.products-container .product-item {
  margin-bottom: 2rem;
}
.products-container .product-item h3 {
  border-top: 4px dotted #AF3501;
  color: #AF3501;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1rem;
}
.products-container .product-item .product-item-image {
  position: relative;
}
.products-container .product-item .product-item-image .product-image-wrapper {
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.products-container .product-item .product-item-image .product-image-wrapper .img-logo-wrapper {
  max-width: 30%;
}
.products-container .product-item .product-item-image:hover .product-image-wrapper {
  opacity: 1;
}
.testimonials-container {
  padding: 3rem 1rem;
}
.testimonials-container .testimonials-main-title {
  padding: 0 10rem;
}
.testimonials-container .testimonials-main-title h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Vast Shadow', cursive;
  margin-bottom: 2rem;
}
.testimonials-main-slider-container {
  padding: 3rem 0;
}
.swiper-testimonial-wrapper {
  background: url(../images/second-frame.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 259px;
  padding: 2rem;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.swiper-testimonial-wrapper:hover {
  background-color: #FCFAE7;
}
.swiper-testimonial-wrapper .swiper-testimonial-hidden {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  padding-top: 0;
}
.swiper-testimonial-wrapper .swiper-front-wrapper img {
  margin-bottom: 1rem;
}
.swiper-testimonial-wrapper .swiper-front-wrapper .star-container {
  color: #E1BE64;
}
.swiper-testimonial-wrapper .swiper-front-wrapper .testimonial-opener {
  font-family: 'BlairMdITC TT', sans-serif;
  color: #E1BE64;
}
.swiper-testimonial-wrapper .swiper-front-wrapper .testimonial-opener .fa {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.swiper-testimonial-wrapper .swiper-front-wrapper:hover .swiper-back-wrapper {
  bottom: 5%;
}
.swiper-testimonial-wrapper .swiper-back-wrapper {
  background-color: #FCFAE7;
  position: absolute;
  bottom: -100%;
  left: 30px;
  max-width: 80%;
  font-size: 0.8rem;
  height: 95%;
  padding: 1rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.swiper-testimonial-wrapper .swiper-back-wrapper:hover {
  bottom: 5%;
}
.swiper-testimonial-wrapper .swiper-back-wrapper h5 {
  font-size: 0.9rem;
  color: #030303;
}
.gallery-container {
  position: relative;
}
.gallery-container section.gallery-columns:nth-child(2) {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gallery-container .img-support {
  position: absolute;
  top: -60px;
  right: 30px;
  z-index: 9;
}
.gallery-container .gallery-item {
  margin-bottom: 8px;
}
.gallery-container .gallery-item img {
  width: 100%;
}
.modal-form {
  border-radius: 0;
  padding: 2rem 3rem;
}
.modal-form .custom-modal-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.modal-form .custom-modal-title h2 {
  font-family: 'Vast Shadow', cursive;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
.main-modal-form .custom-modal-input {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.main-modal-form .custom-modal-input .custom-form-control {
  border-radius: 0;
  border: 1px solid #BDBDBD;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  height: unset;
}
.main-modal-form .custom-modal-input .custom-form-control::-webkit-input-placeholder {
  color: #bcbcbc;
}
.main-modal-form .custom-modal-input .custom-form-control:-moz-placeholder {
  color: #bcbcbc;
}
.main-modal-form .custom-modal-input .custom-form-control::-moz-placeholder {
  color: #bcbcbc;
}
.main-modal-form .custom-modal-input .custom-form-control:-ms-input-placeholder {
  color: #bcbcbc;
}
.main-modal-form .custom-modal-submit .btn-yellow {
  padding: 1rem 8rem;
  display: block;
  margin: 1rem auto;
}
.custom-modal-response {
  text-align: center;
}
.thanks-hero-container {
  color: #ffffff;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  padding: 12vh 1rem;
  text-align: center;
}
.thanks-hero-container img {
  margin: 0 auto;
  margin-bottom: 5rem;
  display: block;
}
.thanks-hero-container h1 {
  color: #FAF5D0;
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}
.thanks-hero-container .thanks-social-container {
  padding: 4rem 1rem;
  font-size: 3rem;
}
.thanks-hero-container .thanks-social-container a {
  margin: 0 2.5rem;
  color: #E1BE64;
}
.thanks-hero-container .thanks-social-container a:hover {
  color: #C6A144;
}
#overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#overlay .loader-css:after {
  border: 6px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
}
#overlay .gallery-overlay-item {
  position: relative;
  max-width: 100%;
  height: auto;
  border: 10px solid white;
}
#overlay .gallery-overlay-item .gallery-close {
  cursor: pointer;
  background: #000000;
  border: 8px solid #ffffff;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -40px;
  right: -40px;
}
#overlay .gallery-overlay-item .gallery-close:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 8px;
  height: 4px;
  width: 30px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#overlay .gallery-overlay-item .gallery-close:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 8px;
  height: 4px;
  width: 30px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#overlay .gallery-overlay-item .gallery-prev {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 10px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}
#overlay .gallery-overlay-item .gallery-next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
}
#overlay .gallery-overlay-item h3 {
  background: #ffffff;
  text-align: center;
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 1rem;
}
#overlay .gallery-overlay-item .img-fluid {
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - 200px);
  width: auto;
  margin: 0 auto;
  display: block;
}
/* --------------------------------------------------------------
    2.- HOME 
-------------------------------------------------------------- */
.main-slider-container .main-home-slider-container {
  max-height: 100vh;
}
.main-slider-container .main-home-slider-container .swiper-pagination-bullets {
  bottom: 50%;
  left: 48%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.main-slider-container .main-home-slider-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: none;
  opacity: 1;
  border: 1px solid #E1BE64;
  margin: 0 1.5rem !important;
}
.main-slider-container .main-home-slider-container .swiper-pagination-bullet-active {
  background: #E1BE64;
}
.main-slider-container .main-slider-content {
  position: relative;
}
.main-slider-container .main-slider-content img {
  width: 100%;
}
.main-slider-container .main-slider-content .main-slider-info-wrapper {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  text-align: center;
  padding: 0 20.5vw;
  padding-top: 38vh;
  font-size: 1.5rem;
}
.main-slider-container .main-slider-content .main-slider-info-wrapper h2 {
  font-family: 'Vast Shadow', cursive;
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}
.home-new-about-title-container {
  padding: 4rem 13vw;
  text-align: center;
}
.home-new-about-title-container h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 2.5rem 1rem;
  padding-bottom: 1rem;
}
.home-new-about-content {
  font-size: 1.05rem;
  text-align: justify;
  line-height: 2rem;
}
.home-new-about-content h3 {
  text-align: center;
  font-family: 'BlairMdITC TT', sans-serif;
  color: #AF3501;
  font-size: 1.4rem;
  margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}
.home-new-about-image {
  margin-bottom: -2rem;
  z-index: 99;
}
.home-new-about-logos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-new-about-logos-container .home-new-about-item {
  text-align: center;
  flex: 0 0 48%;
  max-width: 48%;
}
.home-new-about-logos-container .home-new-about-item-1 {
  flex: 0 0 100%;
  max-width: 100%;
}
/* HOME MENU */
.home-menu-container .home-menu-image {
  position: relative;
  padding: 4rem 0;
  background-size: cover !important;
}
.home-menu-container .home-menu-image .home-menu-item {
  position: absolute;
}
.home-menu-container .home-menu-image .home-menu-item img {
  max-width: unset;
}
.home-menu-container .home-menu-image .home-menu-item-1 {
  right: 30%;
  top: 12%;
  z-index: 2;
}
.home-menu-container .home-menu-image .home-menu-item-1 img {
  width: 440px;
}
.home-menu-container .home-menu-image .home-menu-item-2 {
  right: -50px;
  top: 10%;
  z-index: 1;
}
.home-menu-container .home-menu-image .home-menu-item-3 {
  bottom: 60px;
  right: -15px;
  z-index: 10;
}
.home-menu-container .home-menu-content {
  padding: 4rem 6rem;
  padding-bottom: 12rem;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2.1rem;
  color: #AF3501;
}
.home-menu-container .home-menu-content .btn-yellow {
  margin: 0 auto;
  display: block;
  max-width: 75%;
  padding: 1.2rem 1.8rem !important;
  font-size: 1rem;
  margin-top: 4rem;
}
.home-menu-container .home-menu-title-container {
  padding: 3rem 2rem;
  text-align: center;
}
.home-menu-container .home-menu-title-container h2 {
  color: #000000;
  font-family: 'Vast Shadow', cursive;
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 2.5rem 1rem;
  padding-bottom: 1rem;
}
/* HOME BENEFITS */
.home-benefits-title-container {
  padding: 4rem 13vw;
  text-align: center;
}
.home-benefits-title-container h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 1.5rem 1rem;
  padding-bottom: 0.5rem;
}
.home-benefits-desc-container {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  color: #AF3501;
}
.home-benefits-item {
  text-align: center;
  padding: 2rem;
  color: #AF3501;
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}
.home-benefits-item img {
  margin-bottom: 1rem;
}
/* HOME TESTIMONIALS */
.testimonials-container {
  background: url(../images/bg-gray.png);
  padding: 4rem 1rem;
  padding-bottom: 5rem;
}
.testimonials-container .testimonials-main-desc-content {
  padding: 4rem 1rem;
  padding-top: 0;
  color: #AF3501;
  position: relative;
  text-align: center;
}
.testimonials-container .testimonials-main-desc-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.testimonials-container .testimonials-main-desc-content .img-logo-float {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.testimonials-container .testimonials-main-desc-content .star-container {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #C6A144;
}
.testimonials-container .testimonials-main-title-content {
  padding: 4rem 13vw;
  text-align: center;
}
.testimonials-container .testimonials-main-title-content h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 2rem 1rem;
  padding-bottom: 0.5rem;
}
.testimonials-container .testimonial-item {
  position: relative;
}
.testimonials-container .testimonial-item img {
  position: absolute;
  top: 15px;
  left: 0;
}
.testimonials-container .testimonial-item-wrapper {
  background: #ffffff;
  margin-left: 10rem;
  padding: 3rem 3rem;
  padding-left: 5rem;
}
.testimonials-container .testimonial-item-wrapper h3 {
  color: #AF3501;
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.testimonials-container .testimonial-item-wrapper .text-wrapper {
  text-align: justify;
}
.testimonials-container .testimonial-item-wrapper .text-wrapper .star-container {
  color: #E1BE64;
  font-size: 1.8rem;
}
.testimonials-container .testimonial-item-wrapper .text-wrapper .star-container .fa {
  padding-right: 0.5rem;
}
.testimonials-container .testimonial-swiper-container .swiper-button-next,
.testimonials-container .testimonial-swiper-container .swiper-button-prev {
  background-size: cover !important;
  width: 40px !important;
  height: 40px;
  top: 65%;
}
.testimonials-container .testimonial-swiper-container .swiper-button-prev {
  background: url(../images/arrow-prev.png);
}
.testimonials-container .testimonial-swiper-container .swiper-button-prev:after {
  content: ' ';
}
.testimonials-container .testimonial-swiper-container .swiper-button-next {
  background: url(../images/arrow-next.png);
}
.testimonials-container .testimonial-swiper-container .swiper-button-next:after {
  content: ' ';
}
.testimonials-container .testimonials-button-container {
  text-align: center;
}
.testimonials-container .testimonials-button-container .btn-yellow {
  padding: 1.2rem 1.8rem !important;
  font-size: 1rem;
  margin-top: 4rem;
}
/* HOME DESCANSO */
.home-footer-hero-container {
  padding: 20vh;
  background-size: cover !important;
  background-position: center center !important;
}
.home-footer-hero-container .home-footer-hero-content {
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}
.home-footer-hero-container .home-footer-hero-content h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
/* HOME GALLERY */
.footer-gallery-item img {
  width: 100%;
}
/* --------------------------------------------------------------
    3.- ABOUT   
-------------------------------------------------------------- */
.about-main-hero-container {
  padding: 15rem 1rem;
  padding-bottom: 12rem;
  text-align: center;
}
.about-main-hero-container .about-main-hero-content h1 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1rem;
}
.about-main-hero-container .about-main-hero-content .about-main-hero-content-text {
  color: #AF3501;
  font-size: 1.6rem;
  padding: 3rem 1rem;
}
.about-main-hero-container .img-about-hero {
  margin-bottom: -25rem;
  z-index: 99;
  position: inherit;
}
/* OUR HISTORY */
.about-history-section .about-history-text {
  padding-top: 18vh;
  text-align: center;
}
.about-history-section .about-history-text h2 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 2.5rem;
}
.about-history-section .about-history-text .about-history-text-desc {
  margin-top: 2.5rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 500;
}
.about-history-section .image-content {
  background-size: cover !important;
  text-align: center;
  padding: 4rem 0;
}
.about-history-section .image-content .img-float-top {
  margin-bottom: 2rem;
}
.about-history-section .image-content .img-float-bottom {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
}
.about-testimonials-section {
  background: #FAF4D0;
  padding: 10rem 0;
}
.about-testimonials-section .about-testimonial-item {
  position: relative;
  background: url(../images/test-about-bg.png);
  background-size: contain;
  margin: 0 1rem;
  padding: 1.9rem 9vw;
  background-repeat: no-repeat;
}
.about-testimonials-section .about-testimonial-item .content {
  text-transform: uppercase;
  font-family: 'Vast Shadow', cursive;
  text-align: center;
  font-size: 2.3rem;
}
.about-testimonials-section .about-testimonial-item .author {
  font-family: 'BlairMdITC TT', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
/* ABOUT DESCANSO */
.about-descanso-section {
  position: relative;
  padding: 5rem 1rem;
}
.about-descanso-section:before {
  content: '';
  background: #FAF4D0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 150px;
  z-index: -2;
}
.about-descanso-section:after {
  content: '';
  background: #242021;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
}
.about-descanso-section .about-descanso-container img {
  width: 90%;
}
.about-descanso-section .about-descanso-text {
  color: #ffffff;
  text-align: justify;
}
.about-descanso-section .about-descanso-text .about-descanso-content {
  line-height: 2.3rem;
}
.about-descanso-section .about-descanso-text h2 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.img-float-top {
  display: block;
  margin: 0 auto;
}
/* --------------------------------------------------------------
    4.- DELIVERY
-------------------------------------------------------------- */
.delivery-main-hero-container {
  padding: 15rem 1rem;
  padding-bottom: 6rem;
  text-align: center;
}
.delivery-main-hero-container h1 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1rem;
}
.delivery-main-hero-container .delivery-main-hero-content-text {
  color: #AF3501;
  font-size: 1.6rem;
  padding: 3rem 1rem;
}
.delivery-main-hero-container .delivery-gallery-item {
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------
    5.- CONTACT
-------------------------------------------------------------- */
.contact-main-hero-container {
  background-size: cover !important;
  padding: 15rem 1rem;
  padding-bottom: 6rem;
  text-align: center;
}
.contact-main-hero-container h1 {
  color: #FAF5D0;
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1rem;
}
.main-contact-form {
  padding: 2rem 10rem;
}
.main-contact-form .custom-contact-input {
  margin-bottom: 1rem;
  text-align: left;
}
.main-contact-form .custom-contact-input small {
  color: #C6A144;
  font-weight: 600;
}
.main-contact-form .custom-contact-input .custom-form-control {
  font-family: 'BlairMdITC TT', sans-serif;
  border-radius: 0;
  padding: 1rem;
  min-height: unset;
  height: auto;
}
.main-contact-form .custom-contact-submit .btn-yellow {
  padding: 1.5rem 9rem;
}
/* --------------------------------------------------------------
    6.- STORE MENU
-------------------------------------------------------------- */
.store-title-content {
  color: #AF3501;
  text-align: center;
  padding: 10rem 1rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
}
.store-tab-container {
  padding: 3rem 1rem;
}
.inside-tab-title-container {
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
}
.inside-tab-title-container h2 {
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
  margin-top: 1.3rem;
  font-size: 2.2rem;
}
.inside-tab-title-container .btn-pdf {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e1be64;
}
.inside-tab-title-container .btn-pdf img {
  margin-right: 20px;
}
.custom-accordion .card {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #bfb18c;
}
.custom-accordion .card .card-header {
  scroll-margin-top: -300px;
  background: none;
  border-top: 2px solid #bfb18c;
  border-bottom: 0;
  padding: 0;
}
.custom-accordion .card .card-header h2 {
  font-family: 'BlairMdITC TT', sans-serif;
  text-transform: uppercase;
}
.custom-accordion .card .card-header h2 .btn-link {
  position: relative;
  color: #AF3501;
  padding: 1.2rem 0;
}
.custom-accordion .card .card-header h2 .btn-link:before {
  content: '';
  position: absolute;
  background: #AF3501;
  right: 15px;
  top: 50%;
  height: 2px;
  width: 20px;
}
.custom-accordion .card .card-header h2 .btn-link:after {
  content: '';
  position: absolute;
  background: #AF3501;
  right: 15px;
  top: 50%;
  height: 2px;
  width: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-accordion .card .card-header h2 .btn-link:hover {
  text-decoration: none !important;
  color: #AF3501;
}
.custom-accordion .card .card-header h2 .btn-link:hover:before {
  background: #AF3501;
}
.custom-accordion .card .card-header h2 .btn-link:hover:after {
  background: #AF3501;
}
.custom-accordion .card .card-header h2 .btn-link:focus {
  text-decoration: none !important;
  outline: 0;
  box-shadow: none !important;
}
.custom-accordion .card .card-header h2 .collapsed {
  color: #bfb18c;
}
.custom-accordion .card .card-header h2 .collapsed:before {
  background: #bfb18c;
}
.custom-accordion .card .card-header h2 .collapsed:after {
  background: #bfb18c;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.custom-accordion .card .card-header h2 .collapsed:hover {
  text-decoration: none !important;
  color: #AF3501;
}
.custom-accordion .card .card-header h2 .collapsed:hover:before {
  background: #AF3501;
}
.custom-accordion .card .card-header h2 .collapsed:hover:after {
  background: #AF3501;
}
.custom-accordion .card:nth-child(1) .card-header {
  border-top: 0;
}
.custom-accordion .card .card-body {
  padding: 2rem 0;
}
.custom-accordion .card .card-body .product-collapse-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.custom-accordion .card .card-body .product-collapse-item .product-collapse-wrapper h3 {
  font-weight: 600;
  color: #AF3501;
  font-size: 1rem;
}
.custom-accordion .card .card-body .product-collapse-item .price-collapse-wrapper {
  font-size: 1.1rem;
  font-weight: 700;
  color: #AF3501;
}
.custom-accordion .card .card-body .wholesale-items-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.custom-accordion .card .card-body .wholesale-items-container .wholesale-product-item {
  flex: 0 0 23.5%;
}
.custom-accordion .card .card-body .wholesale-items-container .wholesale-product-item h3 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #AF3501;
  margin-top: 0.8rem;
  padding-top: 0.5rem;
  border-top: 2px dotted #C6A144;
  margin-bottom: 1.5rem;
}
.collapse-title-container {
  text-align: center;
  padding: 0 1rem;
  padding-bottom: 3rem;
}
.collapse-title-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collapse-title-container ul li a {
  font-family: 'BlairMdITC TT', sans-serif;
  color: #E1BE64;
  border: 1px solid #E1BE64;
  background: none;
  padding: 1rem;
  text-transform: uppercase;
  min-width: 240px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-transform: all 0.3s ease-in-out;
  -moz-transform: all 0.3s ease-in-out;
  -ms-transform: all 0.3s ease-in-out;
  -o-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
}
.collapse-title-container ul li a:hover {
  background: #E1BE64;
  color: #ffffff;
}
.collapse-title-container ul li .active {
  background: #E1BE64;
  color: #ffffff;
}
.thanks-svg {
  max-width: 130px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 1.5rem;
}
.catering-main-options-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #f1c1ab;
  margin-bottom: 1.5rem;
}
.catering-main-options-item .number {
  flex: 0 0 7%;
}
.catering-main-options-item .number .number-wrapper {
  font-family: 'Vast Shadow', cursive;
  color: #ffffff;
  background: url(../images/number.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 8px;
  font-size: 1.4rem;
}
.catering-main-options-item .description {
  flex: 0 0 54%;
  font-size: 1rem;
  line-height: 1.1rem;
}
.catering-main-options-item .price {
  flex: 0 0 27%;
  font-weight: 600;
  text-align: right;
  padding-right: 1rem;
  padding-top: 0.6rem;
  font-size: 1.2rem;
  color: #AF3501;
}
.catering-main-options-item .additional {
  color: #AF3501;
  font-weight: 600;
  flex: 0 0 12%;
  padding-left: 1rem;
  border-left: 3px solid #f1c1ab;
}
.card-body .catering-main-options-item:last-child {
  border-bottom: 0 !important;
}
.catering-separator-container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}
.catering-separator-container:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 45%;
  height: 2px;
  background: #E1BE64;
}
.catering-separator-container:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  width: 45%;
  height: 2px;
  background: #E1BE64;
}
.catering-general-options-item {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid #F0F0F0;
}
.catering-general-options-item .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.catering-general-options-item .wrapper .description {
  flex: 0 0 56%;
  text-align: left;
}
.catering-general-options-item .wrapper .price {
  flex: 0 0 31%;
  font-weight: 600;
  text-align: right;
  padding-right: 1rem;
  padding-top: 0.6rem;
  font-size: 1.2rem;
  color: #AF3501;
}
.catering-general-options-item .wrapper .additional {
  flex: 0 0 10%;
  text-align: left;
  color: #AF3501;
  font-weight: 600;
  padding-left: 1rem;
  border-left: 3px solid #f1c1ab;
}
.card-body .catering-general-options-item:nth-child(1) {
  border-top: 0;
}
.repeat-options-item {
  border-top: 0;
  padding: 0;
  padding-bottom: 1rem;
}
.frame-info-container {
  color: #AF3501;
  background: url(../images/catering-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 64%;
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 2.6rem;
  font-size: 1.1rem;
  line-height: 2rem;
}
.last-info-container {
  padding: 2rem;
  max-width: 65%;
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.last-info-container ul {
  padding-left: 15px;
  list-style: none;
}
.last-info-container ul li {
  position: relative;
}
.last-info-container ul li:before {
  content: '';
  color: #C6A144;
  position: absolute;
  top: 13px;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
}
.catering-contact-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
}
.catering-contact-data-container .data-item {
  font-family: 'BlairMdITC TT', sans-serif;
  font-size: 1.2rem;
}
.catering-contact-data-container .data-item a {
  color: #AF3501;
}
