// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Hepta Slab', serif;
@secondfont: 'Vast Shadow', cursive;
@thirdfont: 'BlairMdITC TT', sans-serif;
@black: #000000;
@white: #ffffff;
@uyellow: #FAF4D0;
@syellow: #E1BE64;
@hyellow: #C6A144;
@horange: #AF3501;
@brown: #030303;
@hbrown: #401101;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

@font-face {
    font-family: 'BlairMdITC TT';
    src: url('../fonts/blaimim.woff') format('woff');
    font-weight: normal;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @syellow;
    border-color: @syellow transparent @syellow transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

.btn-yellow {
    color: @white;
    background: @syellow;
    font-family: @thirdfont;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: @white;
        background: @hyellow;
    }
}

.btn-subscribe {
    color: @white;
    background: @syellow;
    font-family: @thirdfont;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: @white;
        background: @hyellow;
    }
}

@media (max-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

.close-custom {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 20px;
}




/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem;
    .transition(all .3s ease-in-out);

    & .img-logo-header {
        max-width: 200px;
    }

    & .btn-header {
        font-size: 0.8rem;
        margin: 0;
        padding: 1rem;
    }

    & .header-right {
        text-align: right;
    }

    & .header-middle {
        text-align: center;

        & .menu {
            .display(flex);
            .align-items(center);
            .justify-content(space-between);
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 0.2rem;
            margin-left: -20px;

            & .nav-link {
                font-family: @thirdfont;
                color: @white;
                text-transform: uppercase;
                padding: 0.5rem 0.5rem;
                font-size: 0.8rem;
                letter-spacing: 3px;
                font-weight: 400;

                &:hover {
                    color: @horange  !important;
                }
            }
        }
    }
}

.header-dark {
    background: white;

    .menu-opener {
        color: @black;
    }

    a {
        color: #B19C76 !important;
    }

    & .btn-header {
        color: @white  !important;
    }
}

.header-dark .header-middle .menu a {
    color: #B19C76 !important;
}

.header-landing {
    opacity: 0;
}

.menu-opener {
    background: none;
    border: 0;
    padding: 0;
    color: white;

    &:focus {
        box-shadow: 0;
        outline: 0;
    }
}

.header-visible {
    background: @white;
    opacity: 1;
    z-index: 99999999;

    & .nav-link {
        color: @black  !important;

        &:hover {
            color: @horange  !important;
        }
    }

    .menu-opener {
        color: @black;
    }


}

.img-delivery {
    max-width: 30px;
    margin-left: 10px;
}

.header-menu-mobile {
    & .menu {
        list-style: none;
        padding: 1rem 0;
        padding-bottom: 0;
        font-size: 1.3rem;
    }
}

.menu-mobile-hidden {
    display: none;
}

.menu-mobile-shown {
    display: block;
}




/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */

.the-footer {
    font-weight: 400;
    font-family: @thirdfont;
    color: #FAF5D0;
    background: @hbrown;
    padding: 2.5rem 1rem;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
    border-top: 8px solid @white;
    margin-top: -25px;

    & a {
        color: #FAF5D0;
    }

    & .footer-sidebar {
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            position: relative;

            &:nth-child(1) {
                margin-bottom: 2rem;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 44%;
                    background: url(../images/separator-white.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 8px;
                    width: 150px;
                }
            }
        }


    }
}

.footer-copy {
    text-align: center;
    margin-bottom: 2rem;
    color: @syellow;

    & a {
        color: @syellow;

        &:hover {
            color: @white;
        }
    }
}

.container-footer {
    position: relative;
    background: #512916;
    mix-blend-mode: color-burn;

    &:before {
        content: '';
        background: url(../images/bg-footer.jpg);
        mix-blend-mode: color-burn;
        background-size: cover !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    & .big-footer {
        & .footer-item {
            padding: 5rem;
            text-align: center;
            color: @syellow;

            & .widget_media_image img {
                max-width: 270px !important;
                margin-top: 2rem;
            }

            & .textwidget {
                font-size: 1.1rem;
                line-height: 2rem;

                & h2 {
                    position: relative;
                    font-family: @thirdfont;
                    padding: 1rem;
                    font-size: 1.4rem;
                    line-height: 2.5rem;
                    margin-bottom: 2rem;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 29%;
                        width: 150px;
                        height: 8px;
                        background: url(../images/separator-yellow.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                }

                & a {
                    font-weight: 600;
                    color: @syellow;

                    &:hover {
                        color: @white;
                    }
                }
            }
        }

        & .footer-sidebar {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

.social-footer {
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 2.1rem;

    & a {
        margin: 0 1rem;
    }
}


/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-hero-container {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;

    & .main-hero-content {
        color: @white;
        padding: 20vh 1rem;
        text-align: center;

        & img {
            margin-bottom: 5rem;
        }

        & h1 {
            font-family: @secondfont;
            margin-bottom: 3rem;
        }

        & h2 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

.two-columns-container {
    padding: 5rem 0;

    & .column1 {

        & .two-columns-item-wrapper {
            position: relative;

            & .two-items-wrapper {
                color: @white;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0) url(../images/main-frame.png);
                background-size: 93%;
                background-position: center center;
                background-repeat: no-repeat;
                .display(flex);
                .align-items(center);
                .justify-content(center);
                .transition(opacity .3s ease-in-out);

            }

            & h2 {
                font-family: @thirdfont;
                font-weight: 300;
                font-size: 1.6rem;
                opacity: 0;
                .transition(all .3s ease-in-out);
            }

            & img {
                width: 100%;
            }

            &:hover {
                & .two-items-wrapper {
                    background: rgba(0, 0, 0, .5) url(../images/main-frame.png);
                    background-size: 93%;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                & h2 {
                    opacity: 1;
                }
            }
        }
    }

    & .column2 {
        padding: 0.5rem 5rem !important;
        text-align: center;

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                position: relative;
                font-weight: 600;
                margin-bottom: 1.5rem;

                &:before {
                    content: '';
                    height: 6px;
                    width: 6px;
                    background: @horange;
                    position: absolute;
                    bottom: -15px;
                    left: 49.5%;
                    border-radius: 100%;
                }

                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        & .column2-subitem {
            margin-bottom: 1rem;

            & h3 {
                color: @horange;
                font-family: @secondfont;
                font-size: 2.2rem;
                margin-bottom: 0;
            }

            & h4 {
                color: @horange;
                font-family: @thirdfont;
                font-size: 1.2rem;
                padding: 0.2rem 2rem;
            }
        }

        & h2 {
            font-family: @thirdfont;
            font-size: 1.6rem;
            line-height: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

.subscribe-bar-container {
    color: @hyellow;
    background: @brown;
    padding: 2rem 1rem;

    & .custom-media {
        .display(flex);
        .align-items(center);
        .justify-content(flex-start);


        & .media-body {
            font-family: @thirdfont;
            text-transform: uppercase;
            margin-left: 20px;
            font-size: 1.2rem;

            & p {
                margin-bottom: 0;
            }
        }
    }

    & .mailchimp-form-item {
        & .form-control {
            font-family: @thirdfont;
            border-radius: 0;
            padding: 0.7rem 1rem;
            font-size: 0.8rem;
            height: unset;
            .placeholder(#bcbcbc);
        }
    }
}

.about-container {
    padding: 4rem 1rem;

    & .about-column-item {
        text-align: center;
    }

    & .column1 {
        padding: 0.5rem 5rem !important;
        text-align: center;

        & h2 {
            position: relative;
            font-family: @secondfont;
            text-transform: uppercase;
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 5rem;

            &:after {
                content: '';
                height: 9px;
                width: 160px;
                background: url(../images/separator.png);
                background-repeat: no-repeat;
                position: absolute;
                bottom: -45px;
                left: 30.5%;
                border-radius: 100%;
            }
        }

        & .img-separator {
            margin: 2rem auto;
            margin-bottom: 3rem;
        }

        & .img-final-icon {
            margin: 2rem auto;
            margin-bottom: 0;
        }

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                position: relative;
                font-weight: 400;
                margin-bottom: 1.5rem;

                &:before {
                    content: '';
                    height: 6px;
                    width: 6px;
                    background: @horange;
                    position: absolute;
                    bottom: -15px;
                    left: 49.5%;
                    border-radius: 100%;
                }

                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.products-container {
    background: rgba(250, 245, 208, 0.5);
    padding: 3rem 1rem;

    & h2 {
        text-align: center;
        font-family: @secondfont;
        margin-bottom: 2rem;
    }

    & .swiper-button-next,
    .swiper-button-prev {
        top: 45%;
        width: 30px;
        height: 50px;
    }

    & .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.5rem;
    }

    & .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: -8px;
        left: auto;
        z-index: 99 !important;
    }

    & .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: -8px;
        right: auto;
    }

    & .product-item {
        margin-bottom: 2rem;

        & h3 {
            border-top: 4px dotted @horange;
            color: @horange;
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 1rem;
        }

        & .product-item-image {
            position: relative;

            & .product-image-wrapper {
                cursor: pointer;
                opacity: 0;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .display(flex);
                .align-items(center);
                .justify-content(center);
                .transition(all .2s ease-in-out);

                & .img-logo-wrapper {
                    max-width: 30%;
                }
            }

            &:hover {
                & .product-image-wrapper {
                    opacity: 1;
                }
            }
        }
    }
}


.testimonials-container {
    padding: 3rem 1rem;

    & .testimonials-main-title {
        padding: 0 10rem;

        & h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            text-align: center;
            font-family: @secondfont;
            margin-bottom: 2rem;
        }
    }
}

.testimonials-main-slider-container {
    padding: 3rem 0;
}

.swiper-testimonial-wrapper {
    background: url(../images/second-frame.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 259px;
    padding: 2rem;
    text-align: center;
    .transition(all .3s ease-in-out);

    &:hover {
        background-color: #FCFAE7;
    }


    & .swiper-testimonial-hidden {
        position: relative;
        overflow: hidden;
        padding: 1rem;
        padding-top: 0;
    }

    & .swiper-front-wrapper {
        & img {
            margin-bottom: 1rem;
        }

        & .star-container {
            color: @syellow;
        }

        & .testimonial-opener {
            font-family: @thirdfont;
            color: @syellow;

            & .fa {
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }


        }

        &:hover .swiper-back-wrapper {
            bottom: 5%;
        }
    }

    & .swiper-back-wrapper {
        background-color: #FCFAE7;
        position: absolute;
        bottom: -100%;
        left: 30px;
        max-width: 80%;
        font-size: 0.8rem;
        height: 95%;
        padding: 1rem 0;
        .transition(all .3s ease-in-out);

        &:hover {
            bottom: 5%;
        }

        & h5 {
            font-size: 0.9rem;
            color: @brown;
        }
    }
}


.gallery-container {
    position: relative;

    & section.gallery-columns {
        &:nth-child(2) {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }

    & .img-support {
        position: absolute;
        top: -60px;
        right: 30px;
        z-index: 9;
    }

    & .gallery-item {
        margin-bottom: 8px;

        & img {
            width: 100%;
        }
    }
}

.modal-form {
    border-radius: 0;
    padding: 2rem 3rem;

    & .custom-modal-title {
        text-align: center;
        margin-bottom: 1.5rem;

        & h2 {
            font-family: @secondfont;
            text-align: center;
            text-transform: uppercase;
            margin-top: 1rem;
            margin-bottom: .5rem;
            font-size: 2.5rem;
        }
    }
}

.main-modal-form {
    & .custom-modal-input {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;

        & .custom-form-control {
            border-radius: 0;
            border: 1px solid #BDBDBD;
            padding: 0.8rem 1rem;
            font-size: 1.1rem;
            height: unset;
            .placeholder(#bcbcbc);
        }
    }

    & .custom-modal-submit {
        & .btn-yellow {
            padding: 1rem 8rem;
            display: block;
            margin: 1rem auto;
        }

    }
}

.custom-modal-response {
    text-align: center;
}


.thanks-hero-container {
    color: @white;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding: 12vh 1rem;
    text-align: center;

    & img {
        margin: 0 auto;
        margin-bottom: 5rem;
        display: block;
    }

    & h1 {
        color: #FAF5D0;
        font-family: @secondfont;
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 0.5rem;
        font-size: 3.5rem;
    }

    & .thanks-social-container {
        padding: 4rem 1rem;
        font-size: 3rem;

        & a {
            margin: 0 2.5rem;
            color: @syellow;

            &:hover {
                color: @hyellow;
            }
        }
    }
}

#overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    .display(flex);
    .align-items(center);
    .justify-content(center);

    & .loader-css:after {
        border: 6px solid @white;
        border-color: @white transparent @white transparent;
    }

    & .gallery-overlay-item {
        position: relative;
        max-width: 100%;
        height: auto;
        border: 10px solid white;

        & .gallery-close {
            cursor: pointer;
            background: @black;
            border: 8px solid @white;
            border-radius: 100%;
            height: 60px;
            width: 60px;
            position: absolute;
            top: -40px;
            right: -40px;

            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 8px;
                height: 4px;
                width: 30px;
                background: @white;
                .transform(rotate(45deg));
            }

            &:after {
                content: '';
                position: absolute;
                top: 20px;
                left: 8px;
                height: 4px;
                width: 30px;
                background: @white;
                .transform(rotate(-45deg));
            }

        }

        & .gallery-prev {
            cursor: pointer;
            position: absolute;
            top: 45%;
            left: 10px;
            font-size: 2rem;
            color: @white;
            text-shadow: 0 0 5px @black;
        }

        & .gallery-next {
            cursor: pointer;
            position: absolute;
            top: 45%;
            right: 10px;
            font-size: 2rem;
            color: @white;
            text-shadow: 0 0 5px @black;
        }

        & h3 {
            background: @white;
            text-align: center;
            font-family: @thirdfont;
            font-size: 1.75rem;
            margin: 0;
            padding: 1rem;
        }

        & .img-fluid {
            max-width: 100%;
            height: auto;
            max-height: calc(100vh - 200px);
            width: auto;
            margin: 0 auto;
            display: block;
        }
    }
}

/* --------------------------------------------------------------
    2.- HOME 
-------------------------------------------------------------- */
.main-slider-container {
    & .main-home-slider-container {
        max-height: 100vh;

        & .swiper-pagination-bullets {
            bottom: 50%;
            left: 48%;
            .transform(rotate(90deg));
        }

        & .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: none;
            opacity: 1;
            border: 1px solid @syellow;
            margin: 0 1.5rem !important;
        }

        & .swiper-pagination-bullet-active {
            background: @syellow;
        }
    }

    & .main-slider-content {
        position: relative;

        & img {
            width: 100%;
        }

        & .main-slider-info-wrapper {
            background: rgba(0, 0, 0, .7);
            color: @white;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .display(flex);
            .align-items(center);
            .justify-content(flex-start);
            flex-flow: column;
            text-align: center;
            padding: 0 20.5vw;
            padding-top: 38vh;
            font-size: 1.5rem;

            & h2 {
                font-family: @secondfont;
                margin-top: -2.5rem;
                margin-bottom: 2.5rem;
                font-size: 2.5rem;
            }
        }
    }
}

.home-new-about-title-container {
    padding: 4rem 13vw;
    text-align: center;

    & h2 {
        font-family: @secondfont;
        font-size: 2.1rem;
        line-height: 3rem;
        padding: 2.5rem 1rem;
        padding-bottom: 1rem;
    }
}

.home-new-about-content {
    font-size: 1.05rem;
    text-align: justify;
    line-height: 2rem;

    & h3 {
        text-align: center;
        font-family: @thirdfont;
        color: @horange;
        font-size: 1.4rem;
        margin-top: 2.5rem;
        margin-bottom: 1.8rem;
    }
}

.home-new-about-image {
    margin-bottom: -2rem;
    z-index: 99;
}

.home-new-about-logos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    & .home-new-about-item {
        text-align: center;
        flex: 0 0 48%;
        max-width: 48%;
    }


    & .home-new-about-item-1 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* HOME MENU */
.home-menu-container {

    & .home-menu-image {
        position: relative;
        padding: 4rem 0;
        background-size: cover !important;

        & .home-menu-item {
            position: absolute;

            & img {
                max-width: unset;
            }
        }

        & .home-menu-item-1 {
            right: 30%;
            top: 12%;
            z-index: 2;

            & img {
                width: 440px;
            }
        }

        & .home-menu-item-2 {
            right: -50px;
            top: 10%;
            z-index: 1;
        }

        & .home-menu-item-3 {
            bottom: 60px;
            right: -15px;
            z-index: 10;
        }
    }

    & .home-menu-content {
        padding: 4rem 6rem;
        padding-bottom: 12rem;
        font-size: 1.1rem;
        text-align: justify;
        line-height: 2.1rem;
        color: @horange;

        & .btn-yellow {
            margin: 0 auto;
            display: block;
            max-width: 75%;
            padding: 1.2rem 1.8rem !important;
            font-size: 1rem;
            margin-top: 4rem;
        }
    }

    & .home-menu-title-container {
        padding: 3rem 2rem;
        text-align: center;

        & h2 {
            color: @black;
            font-family: @secondfont;
            font-size: 2.1rem;
            line-height: 3rem;
            padding: 2.5rem 1rem;
            padding-bottom: 1rem;
        }
    }
}

/* HOME BENEFITS */
.home-benefits-title-container {
    padding: 4rem 13vw;
    text-align: center;

    & h2 {
        font-family: @secondfont;
        font-size: 2.1rem;
        line-height: 3rem;
        padding: 1.5rem 1rem;
        padding-bottom: .5rem;
    }
}

.home-benefits-desc-container {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.3rem;
    padding: 0 1rem;
    color: @horange;
}

.home-benefits-item {
    text-align: center;
    padding: 2rem;
    color: @horange;
    font-family: @thirdfont;
    font-size: 1.1rem;
    line-height: 2rem;

    & img {
        margin-bottom: 1rem;
    }
}

/* HOME TESTIMONIALS */
.testimonials-container {
    background: url(../images/bg-gray.png);
    padding: 4rem 1rem;
    padding-bottom: 5rem;

    & .testimonials-main-desc-content {
        padding: 4rem 1rem;
        padding-top: 0;
        color: @horange;
        position: relative;
        text-align: center;

        & h3 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        & .img-logo-float {
            position: absolute;
            right: 10%;
            bottom: 10%;
        }

        & .star-container {
            margin-top: 1rem;
            font-size: 1.5rem;
            color: @hyellow;
        }

    }

    & .testimonials-main-title-content {
        padding: 4rem 13vw;
        text-align: center;

        & h2 {
            font-family: @secondfont;
            font-size: 2.1rem;
            line-height: 3rem;
            padding: 2rem 1rem;
            padding-bottom: 0.5rem;
        }
    }

    & .testimonial-item {
        position: relative;

        & img {
            position: absolute;
            top: 15px;
            left: 0;
        }
    }

    & .testimonial-item-wrapper {
        background: @white;
        margin-left: 10rem;
        padding: 3rem 3rem;
        padding-left: 5rem;

        & h3 {
            color: @horange;
            font-family: @thirdfont;
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        & .text-wrapper {
            text-align: justify;

            & .star-container {
                color: @syellow;
                font-size: 1.8rem;

                & .fa {
                    padding-right: 0.5rem;
                }
            }
        }
    }

    & .testimonial-swiper-container {

        & .swiper-button-next,
        .swiper-button-prev {
            background-size: cover !important;
            width: 40px !important;
            height: 40px;
            top: 65%;
        }

        & .swiper-button-prev {
            background: url(../images/arrow-prev.png);

            &:after {
                content: ' ';
            }
        }

        & .swiper-button-next {
            background: url(../images/arrow-next.png);

            &:after {

                content: ' ';
            }
        }
    }

    & .testimonials-button-container {
        text-align: center;

        & .btn-yellow {
            padding: 1.2rem 1.8rem !important;
            font-size: 1rem;
            margin-top: 4rem;
        }
    }
}

/* HOME DESCANSO */
.home-footer-hero-container {
    padding: 20vh;
    background-size: cover !important;
    background-position: center center !important;

    .home-footer-hero-content {
        color: @white;
        padding: 2rem 0;
        text-align: center;

        & h2 {
            font-family: @secondfont;
            font-size: 2.6rem;
            line-height: 3rem;
            margin-bottom: 1.5rem;
            margin-top: 2.5rem;
        }
    }
}

/* HOME GALLERY */
.footer-gallery-item img {
    width: 100%;
}


/* --------------------------------------------------------------
    3.- ABOUT   
-------------------------------------------------------------- */
.about-main-hero-container {
    padding: 15rem 1rem;
    padding-bottom: 12rem;
    text-align: center;

    & .about-main-hero-content {
        & h1 {
            font-family: @secondfont;
            text-transform: uppercase;
            margin-top: 1rem;
        }

        & .about-main-hero-content-text {
            color: @horange;
            font-size: 1.6rem;
            padding: 3rem 1rem;
        }
    }


    & .img-about-hero {
        margin-bottom: -25rem;
        z-index: 99;
        position: inherit;
    }
}

/* OUR HISTORY */
.about-history-section {
    .about-history-text {
        padding-top: 18vh;
        text-align: center;

        & h2 {
            font-family: @secondfont;
            text-transform: uppercase;
            margin-top: 1rem;
            font-size: 2.5rem;
        }

        & .about-history-text-desc {
            margin-top: 2.5rem;
            text-align: justify;
            font-size: 1rem;
            line-height: 2.5rem;
            font-weight: 500;
        }


    }

    & .image-content {
        background-size: cover !important;
        text-align: center;
        padding: 4rem 0;

        & .img-float-top {
            margin-bottom: 2rem;
        }

        & .img-float-bottom {
            display: block;
            margin: 0 auto;
            margin-top: 4rem;
        }
    }
}

.about-testimonials-section {
    background: @uyellow;
    padding: 10rem 0;

    & .about-testimonial-item {
        position: relative;
        background: url(../images/test-about-bg.png);
        background-size: contain;
        margin: 0 1rem;
        padding: 1.9rem 9vw;
        background-repeat: no-repeat;

        & .content {
            text-transform: uppercase;
            font-family: @secondfont;
            text-align: center;
            font-size: 2.3rem;
        }

        & .author {
            font-family: @thirdfont;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;

        }
    }
}

/* ABOUT DESCANSO */
.about-descanso-section {
    position: relative;
    padding: 5rem 1rem;

    &:before {
        content: '';
        background: @uyellow;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 150px;
        z-index: -2;
    }

    &:after {
        content: '';
        background: #242021;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        z-index: -1;
    }

    & .about-descanso-container {
        & img {
            width: 90%;
        }
    }

    & .about-descanso-text {
        color: @white;
        text-align: justify;

        & .about-descanso-content {
            line-height: 2.3rem;
        }


        & h2 {
            font-family: @secondfont;
            text-transform: uppercase;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }
    }
}

.img-float-top {
    display: block;
    margin: 0 auto;
}

/* --------------------------------------------------------------
    4.- DELIVERY
-------------------------------------------------------------- */
.delivery-main-hero-container {
    padding: 15rem 1rem;
    padding-bottom: 6rem;
    text-align: center;

    & h1 {
        font-family: @secondfont;
        text-transform: uppercase;
        margin-top: 1rem;
    }

    & .delivery-main-hero-content-text {
        color: @horange;
        font-size: 1.6rem;
        padding: 3rem 1rem;
    }

    & .delivery-gallery-item {
        margin-bottom: 2rem;
    }
}

/* --------------------------------------------------------------
    5.- CONTACT
-------------------------------------------------------------- */

.contact-main-hero-container {
    background-size: cover !important;
    padding: 15rem 1rem;
    padding-bottom: 6rem;
    text-align: center;

    & h1 {
        color: #FAF5D0;
        font-family: @secondfont;
        text-transform: uppercase;
        margin-top: 1rem;
    }
}

.main-contact-form {
    padding: 2rem 10rem;

    & .custom-contact-input {
        margin-bottom: 1rem;
        text-align: left;

        & small {
            color: @hyellow;
            font-weight: 600;
        }

        & .custom-form-control {
            font-family: @thirdfont;
            border-radius: 0;
            padding: 1rem;
            min-height: unset;
            height: auto;
        }
    }

    & .custom-contact-submit {
        & .btn-yellow {
            padding: 1.5rem 9rem;
        }
    }
}

/* --------------------------------------------------------------
    6.- STORE MENU
-------------------------------------------------------------- */
.store-title-content {
    color: @horange;
    text-align: center;
    padding: 10rem 1rem;
    padding-bottom: 3rem;
    font-size: 1.4rem;
}

.store-tab-container {
    padding: 3rem 1rem;
}

.inside-tab-title-container {
    text-align: center;
    position: relative;
    padding-bottom: 3rem;

    & h2 {
        font-family: @secondfont;
        text-transform: uppercase;
        margin-top: 1.3rem;
        font-size: 2.2rem;
    }

    .btn-pdf {
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #e1be64;

        & img {
            margin-right: 20px;
        }
    }
}

.custom-accordion {
    & .card {
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #bfb18c;

        & .card-header {
            scroll-margin-top: -300px;
            background: none;
            border-top: 2px solid #bfb18c;
            border-bottom: 0;
            padding: 0;

            & h2 {
                font-family: @thirdfont;
                text-transform: uppercase;

                & .btn-link {
                    position: relative;
                    color: @horange;
                    padding: 1.2rem 0;

                    &:before {
                        content: '';
                        position: absolute;
                        background: @horange;
                        right: 15px;
                        top: 50%;
                        height: 2px;
                        width: 20px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        background: @horange;
                        right: 15px;
                        top: 50%;
                        height: 2px;
                        width: 20px;
                        .transform(rotate(90deg));
                        .transition(all .3s ease-in-out);
                    }

                    &:hover {
                        text-decoration: none !important;
                        color: @horange;

                        &:before {
                            background: @horange;
                        }

                        &:after {
                            background: @horange;
                        }
                    }

                    &:focus {
                        text-decoration: none !important;
                        outline: 0;
                        box-shadow: none !important;
                    }
                }

                .collapsed {
                    color: #bfb18c;

                    &:before {
                        background: #bfb18c;
                    }

                    &:after {
                        background: #bfb18c;
                        .transform(rotate(0));
                    }

                    &:hover {
                        text-decoration: none !important;
                        color: @horange;

                        &:before {
                            background: @horange;
                        }

                        &:after {
                            background: @horange;
                        }
                    }
                }
            }
        }

        &:nth-child(1) {
            & .card-header {
                border-top: 0;
            }
        }


        & .card-body {
            padding: 2rem 0;

            & .product-collapse-item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-bottom: 2rem;

                & .product-collapse-wrapper {
                    & h3 {
                        font-weight: 600;
                        color: @horange;
                        font-size: 1rem;
                    }
                }

                & .price-collapse-wrapper {
                    font-size: 1.1rem;
                    font-weight: 700;
                    color: @horange;
                }
            }

            & .wholesale-items-container {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;

                & .wholesale-product-item {
                    flex: 0 0 23.5%;

                    & h3 {
                        font-weight: 600;
                        font-size: 1.1rem;
                        color: @horange;
                        margin-top: 0.8rem;
                        padding-top: 0.5rem;
                        border-top: 2px dotted @hyellow;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}

.collapse-title-container {
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 3rem;

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .display(flex);
        align-items: center;
        justify-content: center;

        & li {
            & a {
                font-family: @thirdfont;
                color: @syellow;
                border: 1px solid @syellow;
                background: none;
                padding: 1rem;
                text-transform: uppercase;
                min-width: 240px;
                font-size: 0.9rem;
                letter-spacing: 1px;
                display: inline-block;
                margin: 0 0.5rem;
                .transform(all .3s ease-in-out);

                &:hover {
                    background: @syellow;
                    color: @white;
                }
            }

            & .active {
                background: @syellow;
                color: @white;
            }
        }
    }
}

.thanks-svg {
    max-width: 130px;
    display: block;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}



.catering-main-options-item {
    .display(flex);
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #f1c1ab;
    margin-bottom: 1.5rem;

    & .number {
        flex: 0 0 7%;

        & .number-wrapper {
            font-family: @secondfont;
            color: @white;
            background: url(../images/number.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 50px;
            width: 50px;
            text-align: center;
            padding-top: 8px;
            font-size: 1.4rem;

        }
    }

    & .description {
        flex: 0 0 54%;
        font-size: 1rem;
        line-height: 1.1rem;
    }

    & .price {
        flex: 0 0 27%;
        font-weight: 600;
        text-align: right;
        padding-right: 1rem;
        padding-top: 0.6rem;
        font-size: 1.2rem;
        color: @horange;
    }

    & .additional {
        color: @horange;
        font-weight: 600;
        flex: 0 0 12%;
        padding-left: 1rem;
        border-left: 3px solid #f1c1ab;
    }
}

.card-body {
    & .catering-main-options-item:last-child {
        border-bottom: 0 !important;
    }
}

.catering-separator-container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;

    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 45%;
        height: 2px;
        background: @syellow;
    }

    &:after {
        content: '';
        position: absolute;
        top: 6px;
        right: 0;
        width: 45%;
        height: 2px;
        background: @syellow;
    }
}

.catering-general-options-item {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    border-top: 2px solid #F0F0F0;

    & .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & .description {
            flex: 0 0 56%;
            text-align: left;
        }

        & .price {
            flex: 0 0 31%;
            font-weight: 600;
            text-align: right;
            padding-right: 1rem;
            padding-top: 0.6rem;
            font-size: 1.2rem;
            color: @horange;
        }

        .additional {
            flex: 0 0 10%;
            text-align: left;
            color: @horange;
            font-weight: 600;
            padding-left: 1rem;
            border-left: 3px solid #f1c1ab;
        }
    }


}

.card-body {
    & .catering-general-options-item:nth-child(1) {
        border-top: 0;
    }
}

.repeat-options-item {
    border-top: 0;
    padding: 0;
    padding-bottom: 1rem;
}

.frame-info-container {
    color: @horange;
    background: url(../images/catering-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 64%;
    display: block;
    margin: 1rem auto;
    text-align: center;
    padding: 2.6rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.last-info-container {
    padding: 2rem;
    max-width: 65%;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.4rem;

    & ul {
        padding-left: 15px;
        list-style: none;

        & li {
            position: relative;

            &:before {
                content: '';
                color: @hyellow;
                position: absolute;
                top: 13px;
                left: -20px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                z-index: 1;
            }
        }
    }
}

.catering-contact-data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;

    & .data-item {
        font-family: @thirdfont;
        font-size: 1.2rem;

        & a {
            color: @horange;
        }
    }
}